@import "../../sass/mixin";
@import "../../sass/animations";


.about {

}


.about__title-char {
  transition: all .5s;
  display: inline-table;


  &:nth-child(4),
  &:nth-child(26),
  &:nth-child(41),
  &:nth-child(61),
  &:nth-child(65),
  &:nth-child(75),
  &:nth-child(77),
  &:nth-child(87) {
    visibility: hidden;
  }
}

.about__title-description {
  width: 80%;
  text-align: left;
  font-size: 20px;
  color: rgba(255,255,255, .5);

  & p {
    margin: 15px 0;
  }
}

.about__title-anim:hover {
  color: #6c3;
  animation: text-transform 1s;
}
