@keyframes circle-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-transform {
  0% {
    transform: scale(1);
  }
  15% {
    transform: translateY(-5px);

  }
  25% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.2);
  }
  85% {
    transform: translateY(5px);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: translateY(0px);
  }
}
