@mixin display-flex-center {
  display: flex;
  justify-content: center;
}

@mixin display-flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin display-flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin display-flex-end {
  display: flex;
  justify-content: flex-end;
}

@mixin container {
  width: 80%;
  margin: 0 auto;
  @include display-flex-between;
  height: 100%;
  align-items: center;
}

@mixin left-right-blocks {
  width: 50%;
}

@mixin home__animation-circle {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #6c3;
  -webkit-box-shadow: 0px 0px 20px 40px #070707;
  -moz-box-shadow:    0px 0px 20px 40px #070707;
  box-shadow:         0px 0px 20px 40px #070707;
}
